.cards{
	    display: flex;
    flex-wrap: wrap;
}


.card{

	align-items: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
    border-radius: 7px;
    margin: 10px;
    flex-basis: 290px;
    flex-grow: 1;
    background-color: lightyellow;
}
.card img{
	    width: 150px;
	    border-radius: 6px;
}

.card h3, p{
	flex-grow: 1;
    padding-left: 50px;
    font-size: 20px;
    letter-spacing: 1px;
}

.card:hover{
	color: pink;
}